<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <link rel="stylesheet" href="__PUBLIC__/style/weui.css"/>
    <link rel="stylesheet" href="__PUBLIC__/style/example.css"/>
    <script src="__PUBLIC__/js/laydate/laydate.js"></script>
</head>

<body ontouchstart>

    <div class="hd">
        <h1 class="page_title">发起新的共修</h1>
    </div>
    <div class="bd">
        <div class="weui_cells_title">昵称</div>
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>{$nickname}</p>
                </div>
            </div>
        </div>

        
        <form action="{:U('Cowork/addCowork')}" id="addCoworkForm" method="post">
        <div class="weui_cells_title">发起共修</div>
        <div class="weui_cells weui_cells_form">
            <input type="hidden" name="openid" value={$openid} />
            <input type="hidden" name="nickname" value={$nickname} />
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">共修名</label></div>
                <div class="weui_cell_bd weui_cell_primary weui_cell_warn">
                    <input class="weui_input" type="text"  name="inputCoworkName" placeholder="请输入共修名"/>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">发起人</label></div>
                <div class="weui_cell_bd weui_cell_primary weui_cell_warn">
                    <input class="weui_input" type="text"  name="inputOpenerName" placeholder="请输入发起人"/>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">共修说明</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea" form ="addCoworkForm" placeholder="要义" name="inputKeytext" rows="3"></textarea>
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">截止日期</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input laydate-icon" onclick="laydate({festival: true})" type="text"  name="dueDate" value={$duedate}>
                </div>
            </div>
        </div>
        <div class="weui_btn_area">
            <a type="submit" class="weui_btn weui_btn_primary" href="javascript:showToast()" value="添加" id="submit_button">保存共修</a>
        </div>
        <div id="toast" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <i class="weui_icon_toast"></i>
            <p class="weui_toast_content">创建成功，<br>
                随喜功德！</p>
        </div>
    </div>
        </form>


    </div>
<script>

function showToast(){

    var to=document.getElementById('toast');
    to.style.display="";
    setTimeout(function () {
        to.style.display="none";
    }, 100000);
    document.getElementById("addCoworkForm").submit();
}

</script>

    <script type="text/javascript">
    // 对浏览器的UserAgent进行正则匹配，不含有微信独有标识的则为其他浏览器

    var oid="<?=$openid?>";
    //alert(oid);
    if(oid==null || oid==''){
        //alert('null');
        //var opened1 = window.open('about:blank', '_self');
        //opened1.opener = null;
        //opened1.close();
        document.addEventListener('WeixinJSBridgeReady', function(){ WeixinJSBridge.call('closeWindow'); }, false);
    }else{

        var useragent = navigator.userAgent;
        if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
            // 这里警告框会阻塞当前页面继续加载
            alert('已禁止本次访问：您必须使用微信内置浏览器访问本页面！');
            // 以下代码是用javascript强行关闭当前页面
            var opened = window.open('about:blank', '_self');
            opened.opener = null;
            opened.close();
        }
    }
</script>

</body>
</html>
